VITE_API_URL=http://localhost:8080/api
VITE_WS_URL=ws://localhost:8080/ws


buat testing pakai ngrok harus diubah setiap kali nyalakan ngrok
VITE_API_URL=https://84bbc5a24b43.ngrok-free.app/api
VITE_WS_URL=ws://84bbc5a24b43.ngrok-free.app/ws

buat testing pakai gorilla ws